<div class="container">
  <app-cockpit
    (serverCreate)="onAddServer($event)"
    (bpcreate)="onAddBlueprint($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        change first element
      </button>
      <button class="btn btn-danger" (click)="onDeleteElement()">
        delete first element
      </button>
      <app-server-element
        *ngFor="let element of serverElements"
        [srvElement]="element"
        [name]="element.name"
      >
        <p #contentChild>
          <strong *ngIf="element.type === 'server'" style="color: red">{{
            element.content
          }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
